/*  *{
    font-family: monospace;
     }
*/
body{
    font-size: 18x;
}

#first>p   /*first ke andar jaao aur paragraph ko select karo*/{
    color: green;
}

#first, #second{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-size: 25;
}

#second{
    color: aliceblue ;
}

.purple{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

.highlight{
    background-color: yellow;
    font-weight: bolder;

}



